<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <div style="width:80%; margin:auto;">
           <div class="row">
               <div class="col-md-12">
                    @RenderBody()
               </div>
           </div>
        </div>
        
    </div>
</body>
</html>
